.flex-box-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-header-dashboard {
  margin: 5vh;
}

.formNotesBelow {
  padding-left: 2vh;
  padding-right: 2vh;
}
