.App-header {
  height: 8vh;
  background: linear-gradient(
    -139deg,
    rgb(61, 52, 139) 10%,
    rgb(118, 120, 237) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.DB-App-header {
  height: 18vh !important;
  background-image: url('../components/icons/inside_patch_ppt.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header-white-font {
  font-size: calc(20px + 2vmin);
  color: white;
}

.logout-font {
  color: white;
}

.logout-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  margin-right: 2vh;
}

.logout-icon {
  height: 4vh;
  margin-left: 1vh;
}

.white-logo-header {
  width: 30%;
}

.DB-Header-Name-Logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.leftMargin {
  margin-left: 2vh;
}
