/* HTML: <div class="loader"></div> */
.loader-container {
  margin-top: 25dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: 'Nunito';
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #fff)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  /* content: 'Authentication in progress...'; */
  line-height: 1em;
  color: #6e6e73;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
